Perform exploratory data analysis on the netflix_data.csv data to understand more about movies from the 1990s decade.

What was the most frequent movie duration in the 2000s? Save an approximate answer as an integer called duration (use 1990 as the decade's start year).

A movie is considered short if it is less than 90 minutes. Count the number of short action movies released in the 1990s and save this integer as short_movie_count.

Feel free to experiment after submitting the project!

In [159]:
import pandas as pd 
nf_df=pd.read_csv("netflix_data.csv")

In [160]:
nf_df.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...
3,s4,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,"September 24, 2021",2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo..."
4,s5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...

In [161]:
nf_df.loc[:,['release_year']]   ##nf_df['release_year']

    release_year
0           2020
1           2021
2           2021
3           2021
4           2021
..           ...
95          2021
96          2018
97          2021
98          2021
99          2021

[100 rows x 1 columns]

In [162]:
year=nf_df.loc[:,['release_year']]==2020                ###i get true or false value
filtered_year = year[year['release_year'] == True]
filtered_year

    release_year
0           True
16          True
17          True
32          True
34          True
47          True
78          True
84          True

In [163]:
year=nf_df.loc[:,['release_year']]==2020                ###i get true or false value
filtered_year = year[year['release_year'] == True]          ### get onlu true value
filtered_year['release_year'] = nf_df.loc[filtered_year.index, 'release_year']     ##true value lai replace with original value
filtered_year['duration'] =nf_df.loc[filtered_year.index, 'duration']   ##suru ko duration le chai column ko nam thapcha ani pachadi ko duration le chai actual duration k ho ta og df ko tei halidincha

filtered_year

/var/folders/vy/fch6w1_x1l75t7_9zqnljtt80000gn/T/ipykernel_2385/683440737.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_year['release_year'] = nf_df.loc[filtered_year.index, 'release_year']     ##true value lai replace with original value
/var/folders/vy/fch6w1_x1l75t7_9zqnljtt80000gn/T/ipykernel_2385/683440737.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_year['duration'] =nf_df.loc[filtered_year.index, 'duration']   ##suru ko duration le chai column ko nam thapcha ani pachadi ko duration le chai actual duration k ho ta og df ko tei halidincha

    release_year   duration
0           2020     90 min
16          2020     67 min
17          2020  2 Seasons
32          2020  3 Seasons
34          2020   1 Season
47          2020   1 Season
78          2020    145 min
84          2020    147 min

In [164]:
nf_df.iloc[[16]]

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
16,s17,Movie,Europe's Most Dangerous Man: Otto Skorzeny in ...,"Pedro de Echave García, Pablo Azorín Williams",NaN,NaN,"September 22, 2021",2020,TV-MA,67 min,"Documentaries, International Movies",Declassified documents reveal the post-WWII li...

In [165]:
filtered_year['title']=nf_df.loc[filtered_year.index,'title']
filtered_year

/var/folders/vy/fch6w1_x1l75t7_9zqnljtt80000gn/T/ipykernel_2385/1643151905.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_year['title']=nf_df.loc[filtered_year.index,'title']

    release_year   duration                                              title
0           2020     90 min                               Dick Johnson Is Dead
16          2020     67 min  Europe's Most Dangerous Man: Otto Skorzeny in ...
17          2020  2 Seasons                                    Falsa identidad
32          2020  3 Seasons                                      Sex Education
34          2020   1 Season                            Tayo and Little Wizards
47          2020   1 Season                              The Smart Money Woman
78          2020    145 min                                     Tughlaq Durbar
84          2020    147 min                               Omo Ghetto: the Saga

In [167]:
filtered_year.drop([17,32,34,47])

    release_year duration                                              title
0           2020   90 min                               Dick Johnson Is Dead
16          2020   67 min  Europe's Most Dangerous Man: Otto Skorzeny in ...
78          2020  145 min                                     Tughlaq Durbar
84          2020  147 min                               Omo Ghetto: the Saga

In [170]:
filtered_year['duration_num']=0
filtered_year

/var/folders/vy/fch6w1_x1l75t7_9zqnljtt80000gn/T/ipykernel_2385/309886896.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_year['duration_num']=0

,release_year,duration,title,duration_num
0,2020,90 min,Dick Johnson Is Dead,0
16,2020,67 min,Europe's Most Dangerous Man: Otto Skorzeny in ...,0
17,2020,2 Seasons,Falsa identidad,0
32,2020,3 Seasons,Sex Education,0
34,2020,1 Season,Tayo and Little Wizards,0
47,2020,1 Season,The Smart Money Woman,0
78,2020,145 min,Tughlaq Durbar,0
84,2020,147 min,Omo Ghetto: the Saga,0

In [171]:
filtered_year

,release_year,duration,title,duration_num
0,2020,90 min,Dick Johnson Is Dead,0
16,2020,67 min,Europe's Most Dangerous Man: Otto Skorzeny in ...,0
17,2020,2 Seasons,Falsa identidad,0
32,2020,3 Seasons,Sex Education,0
34,2020,1 Season,Tayo and Little Wizards,0
47,2020,1 Season,The Smart Money Woman,0
78,2020,145 min,Tughlaq Durbar,0
84,2020,147 min,Omo Ghetto: the Saga,0

In [182]:
import re
duration_str = filtered_year.loc[filtered_year.index[0], 'duration']
number = int(re.search(r'\d+', duration_str).group())
filtered_year

,release_year,duration,title,duration_num
0,2020,90 min,Dick Johnson Is Dead,0
16,2020,67 min,Europe's Most Dangerous Man: Otto Skorzeny in ...,0
17,2020,2 Seasons,Falsa identidad,0
32,2020,3 Seasons,Sex Education,0
34,2020,1 Season,Tayo and Little Wizards,0
47,2020,1 Season,The Smart Money Woman,0
78,2020,145 min,Tughlaq Durbar,0
84,2020,147 min,Omo Ghetto: the Saga,0

In [184]:
filtered_year['duration_num'] = filtered_year['duration'].str.extract(r'(\d+)').astype(int)
filtered_year

/var/folders/vy/fch6w1_x1l75t7_9zqnljtt80000gn/T/ipykernel_2385/2331232347.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_year['duration_num'] = filtered_year['duration'].str.extract(r'(\d+)').astype(int)

,release_year,duration,title,duration_num
0,2020,90 min,Dick Johnson Is Dead,90
16,2020,67 min,Europe's Most Dangerous Man: Otto Skorzeny in ...,67
17,2020,2 Seasons,Falsa identidad,2
32,2020,3 Seasons,Sex Education,3
34,2020,1 Season,Tayo and Little Wizards,1
47,2020,1 Season,The Smart Money Woman,1
78,2020,145 min,Tughlaq Durbar,145
84,2020,147 min,Omo Ghetto: the Saga,147

In [187]:
r=filtered_year.drop([17,32,34,47])
r

,release_year,duration,title,duration_num
0,2020,90 min,Dick Johnson Is Dead,90
16,2020,67 min,Europe's Most Dangerous Man: Otto Skorzeny in ...,67
78,2020,145 min,Tughlaq Durbar,145
84,2020,147 min,Omo Ghetto: the Saga,147

In [188]:
r

,release_year,duration,title,duration_num
0,2020,90 min,Dick Johnson Is Dead,90
16,2020,67 min,Europe's Most Dangerous Man: Otto Skorzeny in ...,67
78,2020,145 min,Tughlaq Durbar,145
84,2020,147 min,Omo Ghetto: the Saga,147

In [212]:

r['type k ho ta'] = nf_df['type']
r['type k ho'] = r['duration_num'].apply(lambda x: 'short' if x < 90 else 'long')
r

,release_year,duration,title,duration_num,type k ho ta,type k ho
0,2020,90 min,Dick Johnson Is Dead,90,Movie,long
16,2020,67 min,Europe's Most Dangerous Man: Otto Skorzeny in ...,67,Movie,short
78,2020,145 min,Tughlaq Durbar,145,Movie,long
84,2020,147 min,Omo Ghetto: the Saga,147,Movie,long

In [213]:
print("Test Save")

Test Save